<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if link.link == "/" %}
			{% if page.url == "/" %}
				{% assign class = class | append: " active" %}
			{% endif %}
		{% else %}
		    {% if page.url contains link.link %}
				{% assign class = class | append: " active" %}
			{% endif %}
		{% endif %}
		{% if link.sublinks %}
			<div class="dropdown">
				<a class="nav">{{ link.name }}</a>
				<div class="dropdown-content">
					{% for sublink in link.sublinks %}
					<a {% if sublink.link %}href="{{ sublink.link }}"{% endif %}>{{ sublink.name }}</a>
					{% endfor %}
				</div>
			</div>
		{% else %}
			{% assign extra_class = link.extra_class %}
			<a {% if link.link %}href="{{ link.link | relative_url}}"{% endif %} class="{{ class }} {{ extra_class }}" {% if link.new_window %}target="_blank"{% endif %} {% if link.onclick %}onclick={{link.onclick}}{% endif %}>{{ link.name }}</a>
		{% endif %}
	{% endfor %}
</nav>
