<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if page.url contains link.link %}
			{% assign class = class | append: " active" %}
		{% endif %}
		{% if link.sublinks %}
			<div class="dropdown">
				<a class="nav">{{ link.name }}</a>
				<div class="dropdown-content">
					{% for sublink in link.sublinks %}
					<a href="{{ sublink.link }}">{{ sublink.name }}</a>
					{% endfor %}
				</div>
			</div>
		{% else %}
			{% assign extra_class = link.extra_class %}
			<a href="{% include relative-src.html src=link.link %}" class="{{ class }} {{ extra_class }}" {% if link.new_window %}target="_blank"{% endif %} {% if link.onclick %}onclick={{link.onclick}}{% endif %}>{{ link.name }}</a>
		{% endif %}
	{% endfor %}
</nav>
